{% extends 'plantilla.html' %}

{% block content %}

    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-success">{{ message }}</div>
        {% endfor %}
    {% endif %}
    <h2 class="text-center">Editar Pedido</h2>
    <div class="text-end">
        <a href="{% url 'salir' %}" class="btn btn-info m-3">Cerrar Sesión</a>
    </div>
    <form class="w-50 shadow mx-auto p-4 m-3" method="post" action="{% url 'editarPedido' %}">
        {% csrf_token %}
        <input type="hidden" name="id" value="{{ pedido.id }}">
        Producto del Pedido: <input type="text" name="pedidoProducto" class="form-control my-2" value="{{ pedido.pedidoProducto }}" required>
        Fecha del Pedido: <input type="date" name="fechaPedido" class="form-control my-2" value="{{ pedido.fechaPedido }}" required>
        Fecha de Entrega: <input type="date" name="fechaEntrega" class="form-control my-2" value="{{ pedido.fechaEntrega }}" required>
        Proveedor:
        <select name="nombreProveedorPedido" class="form-select my-2" required>
            {% for proveedor in proveedores %}
                <option value="{{ proveedor.id }}" {% if proveedor.id == pedido.nombreProveedorPedido.id %}selected{% endif %}>{{ proveedor.nombreProveedor }}</option>
            {% endfor %}
        </select>
        <div class="text-center">
            <input type="submit" value="Guardar" class="btn btn-success px-5">
        </div>
    </form>

{% endblock %}
